      
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/web3.min.js"></script>
    <script src="/js/truffle-contract.js"></script>
    <script src="/js/app.js"></script>
    <footer>
    <div class="links">
      <div class="container">
        <div class="footer-select">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div>
                <h5>WTF is a cryptomeme?</h5>
                <p>Well, all you Forever Alone Nerds, you can now own a Wojak or a Pepe or 100+ other memes. And it is on Blockchain. Secured by a Contract. That means Lambos. Hodl!!!!!!! We going to the Moon!</p>
                
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div>
                <h5>Social</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="https://discord.gg/dxwhWu7" target="_blank">
                      <i class="pe-7s-angle-right"></i> Discord
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/cryptomemeshq" target="_blank">
                      <i class="pe-7s-angle-right"></i> Twitter
                    </a>
                  </li>

                  <li>
                    <a href="https://fb.me/cryptomemeshq" target="_blank">
                      <i class="pe-7s-angle-right"></i> Facebook
                    </a>
                  </li>
                  <li>
                    <a href="https://www.reddit.com/r/realcryptomemes/" target="_blank">
                      <i class="pe-7s-angle-right"></i> Reddit
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div>
                <h5>More Links</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="/#advantages" class="go_bot">
                      <i class="pe-7s-angle-right"></i> How it Works?
                    </a>
                  </li>
                  <li>
                  <li>
                    <a href="/suggestmeme">
                      <i class="pe-7s-angle-right"></i> Suggest a Meme
                    </a>
                  </li>
                  <li>
                    <a href="/faq">
                      <i class="pe-7s-angle-right"></i> FAQ's
                    </a>
                  </li>
                    <a href="/contact">
                      <i class="pe-7s-angle-right"></i> Contact Us
                    </a>
                  </li>
                  <li>
                    <a href="/privacy-policy">
                      <i class="pe-7s-angle-right"></i> Privacy Policy
                    </a>
                  </li>
                  <li>
                    <a href="/terms-of-service">
                      <i class="pe-7s-angle-right"></i> Terms of Service
                    </a>
                  </li>
                  <li>
                    <a href="https://etherscan.io/address/0x0d623823d2aa4540f335bb926447dc582dc5bd64" target="_blank">
                      <i class="pe-7s-angle-right"></i> Contract Link
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 footer-gallery">
              <div>
                <h5>Technologies</h5>
                <div class="row">
                  <div class="col-0"></div>
                  <div class="col-10"  style="max-height:90px;margin-bottom:10px;">
                      <img src="/images/ethereum.jpg" alt="gallery1" class="hoverZoomLink">
                    
                  </div>

                </div>
                
                <div class="row">
                  <div class="col-10"  style="max-height:90px;">
                      <img src="/images/metamask.png" alt="gallery1" class="hoverZoomLink">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright text-center">
      <p>All Rights Reserved © 2018 
      </p>
    </div>
  </footer>