
<html lang="en">
      <% include ./partials/head %>

  <body>
    
    
    <% include ./partials/header %>
    <main role="main">

      
      <section id="statistics" class="user_jumbotron ">
    <div class="cover text-center container">
      <h2 class="heading">FREQUENTLY ASKED QUESTIONS</h2>
                <p class="lead"></p>
    </div>
  </section>

</main>
<div class="row faq">
  <div class="container">
  <div class="tab-content panels-faq">
      <div class="tab-pane active" id="tab1">
        <div class="panel-group" id="help-accordion-1">
          <div class="panel panel-default panel-help">
            <a href="#tools-needed" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>What do I need to trade on Cryptomemes?</h2>
              </div>
            </a>
            <div id="tools-needed" class="collapse in">
              <div class="panel-body">
                <p>
                  It's simple. You need 3 things to get started:
               <ul style="list-style-type: disc;">
                <li>Chrome or Firefox browser on your computer/laptop</li>
                <li>Metamask plugin for your browser - Metamask is a digital wallet</li>
                <li>Ether - a cryptocurrency used to buy/sell cryptomemes</li>
               </ul></p>
              </div>
            </div>

          </div>
          <div class="panel panel-default panel-help">
                      <a href="#install-metamask" data-toggle="collapse" data-parent="#help-accordion-1">
                        <div class="panel-heading">
                          <h2>How do I install MetaMask?</h2>
                        </div>
                      </a>
                      <div id="install-metamask" class="collapse in">
                        <div class="panel-body">
                          <p>
                          To buy and sell your cryptomeme contracts, you would need to install Metamask digital wallet in your browser.

               <ul style="list-style-type: disc;">
                <li>For firefox - go to <a href="https://addons.mozilla.org/en-US/firefox/addon/ether-metamask/">https://addons.mozilla.org/en-US/firefox/addon/ether-metamask/</a> and click "Add to Firefox"</li>
                <li>For Chrome - go to <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en">https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en</a> and click "Add to Chrome"</li>
               </ul>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/tfETpi-9ORs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
                        </div>
                      </div>
                    </div>

           <div class="panel panel-default panel-help">
            <a href="#buy-ether" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>How do I buy Ether?</h2>
              </div>
            </a>
            <div id="buy-ether" class="collapse in">
              <div class="panel-body"><p>
               There are two options to add Ether to your Metamask wallet:
               <ul style="list-style-type: disc;">
                <li>For U.S. citizens: You can directly buy ether from Metamask</li>
                <li>For everyone else: You can purchase Ether from any crypto currency exchange. For example: Coinbase which is the easiest and transfer the Ether to your Metamask wallet using their widget.</li>
               </ul>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/PtdMDtCVck0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
              </div>
            </div>
          </div> 
            <div class="panel panel-default panel-help">
            <a href="#supported-currency" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>Can I use any currency other than Ether to trade on Cryptomemes?</h2>
              </div>
            </a>
            <div id="supported-currency" class="collapse in">
              <div class="panel-body"><p>
                No you cannot use any other currency. USD/CAD/BTC or any other cryptocurrency has to be converted to Ether first.</p>
              </div>
            </div>
          </div>  
            <div class="panel panel-default panel-help">
            <a href="#howto-buy" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>How do I buy a meme contract?</h2>
              </div>
            </a>
            <div id="howto-buy" class="collapse in">
              <div class="panel-body"><p>
                Go to Cryptomeme marketplace, choose the meme you would like to buy and click "Buy Meme". 
                You will see a popup from metamask for payment. Make sure you have enough ether to cover the purchase and click "Accept"
                And congrats, you own the meme.</p>
              </div>
            </div>
          </div>  
            <div class="panel panel-default panel-help">
            <a href="#transaction-delay" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>My purchase taking time to reflect. Should I be worried?</h2>
              </div>
            </a>
            <div id="transaction-delay" class="collapse in">
              <div class="panel-body"><p>
                Don't worry. Depending on the network, there might be some delay for the transaction to reflect. If the transaction doesn't go through due to some failure, your Ether will automatically credited back to you.</p>
              </div>
            </div>
          </div>    
            <div class="panel panel-default panel-help">
            <a href="#commission-money" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>How are you making money out of this?</h2>
              </div>
            </a>
            <div id="commission-money" class="collapse in">
              <div class="panel-body"><p>
                Cryptomemes takes a small percentage whenever there is a purchase that happens. </p>
              </div>
            </div>
          </div>  
            <div class="panel panel-default panel-help">
            <a href="#mobile-support" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>Can I trade on Cryptomemes through my phone?</h2>
              </div>
            </a>
            <div id="mobile-support" class="collapse in">
              <div class="panel-body"><p>
                Unfortunately, no. The technology that Cryptomemes uses is not yet available in mobile phones.</p>
              </div>
            </div>
          </div> 
            <div class="panel panel-default panel-help">
            <a href="#cryptomeme-coin" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>Are Cryptomemes a currency/cryptocurrency?</h2>
              </div>
            </a>
            <div id="cryptomeme-coin" class="collapse in">
              <div class="panel-body"><p>
                No. Think of them as a cryptocollectible. They are more like a digital form of collectibles like figurines, baseball cards that are stored on blockchain. You will make money when that contract is bought by someone else from you.</p>
              </div>
            </div>
          </div> 
            <div class="panel panel-default panel-help">
            <a href="#etherscan-delay" data-toggle="collapse" data-parent="#help-accordion-1">
              <div class="panel-heading">
                <h2>Why isn't my sale showing on Etherscan?</h2>
              </div>
            </a>
            <div id="etherscan-delay" class="collapse in">
              <div class="panel-body"><p>
                A sale on Etherscan in shown in "internal transactions" tab. If it still doesn't show up yet, you need to wait for some time for it to sync. The delay depends on how much load is currently on the network.</p>
              </div>
            </div>
          </div>
 </div></div></div></div></div>
  
  
  
  
     <% include ./partials/footer %>

     <script src="/js/connection.js"></script>


    <script type="text/javascript">
      
        $(document).ready(function(){
          if(window.location.hash){
            hash = window.location.hash;
          }else{
            hash = "#tools-needed";
          }
          //console.log(hash);
          $(hash).collapse({
            toggle: true
          });
          $.scrollTo($(hash), 1000);
        });
    </script>
  </body>
</html>
