
<!doctype html>

<html lang="en">
<head>
                <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' id='stm_default_google_font-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A500%2C400%2C300%2C400italic%2C700%7COpen+Sans%3A500%2C400%2C300%2C700' type='text/css' media='all' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fontisto@v2.0.1/css/fontisto/fontisto.min.css" rel="stylesheet">
    <link href="/css/homepage.css" rel="stylesheet">
    


    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

    <script type="text/javascript">
        if (top.location != location) {
            top.location.href = document.location.href;
        }
    </script>

<link rel='dns-prefetch' href='//ajax.googleapis.com' />
<link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
<link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
<link rel='dns-prefetch' href='//s.w.org' />
        
        <% include ./partials/head %>

</head>
<body class="has_iframed">
            <% include ./partials/header %>


<div id="main" >
        <div id="iframe">
 

    <div class="banner-wrap">
    <div class="container">
        <div class="earth-wrap">
            <canvas></canvas>
        </div>
        <div class="banner-text-wrap">
            <h1 class="title">Buy Memes on the Blockchain and MOOON!!</h1>
            <div class="watch-wrap">
                <a href="#demos" class="go_bot" >
                    <div class="watch-text">
                        <div>KNOW MORE</div>
                    </div>
                                  <i class="pe-7s-angle-down" style="font-size: 98px;"></i>
                                  <i class="pe-7s-angle-down" style="font-size: 98px;"></i>

                </a>
            </div>
        </div>
    </div>
</div>
  
<div id="demos" class="demos-wrap">
    <div class="bg-demos-text">
        DEMOS
    </div>
    <div class="container">
        <h2>Know more</h2>
        <div class="desc">
            Oh you love the cute NyanCat? Or do you want to own all those Pepes? Well, the power of blockchain makes people now own Memes. Yes You Can Just Do It! A meme owned by you can also be stolen. Don't worry, we got this! If anyone wants to steal your precious meme, they have to pay 1.5 times the ethereum bought it for. And of course, you can steal it back too :D You win, You win Everyone wins! True Story!!<br/>

            Here are some of the memes you can buy:
        </div>
        <div class="demos-list">
                            <a href="/meme/4" class="  stm_animation animated stm_viewport" data-animate="zoomIn" data-animation-delay="0.1" data-animation-duration="1" data-viewport_position="90">
                                    <div class="demo">
                        <div class="img">
                                                        <img src="/images/bitch-please.jpg" width="350" height="280" alt="Bitch Please" />
                        </div>
                        <h3>Bitch Please</h3>
                    </div>
                                    </a>
                                            <a href="/meme/27" class="  stm_animation animated stm_viewport" data-animate="zoomIn" data-animation-delay="0.1" data-animation-duration="1" data-viewport_position="90">
                                    <div class="demo">
                        <div class="img">
                                                            <span class="new heading-font">NEW</span>
                                                        <img src="/images/memes/0027ToughGuySpongeBob.jpg" width="350" height="280" alt="Tough SpongeBob" />
                        </div>
                        <h3>Tough Spongebob</h3>
                    </div>
                                    </a>
                                            <a href="/meme/9" class="  stm_animation animated stm_viewport" data-animate="zoomIn" data-animation-delay="0.1" data-animation-duration="1" data-viewport_position="90">
                                    <div class="demo">
                        <div class="img">
                                                            <span class="new heading-font">NEW</span>
                                                        <img src="/images/memes/0009PepeTheFrog.jpg" width="350" height="280" alt="Pepe" />
                        </div>
                        <h3>Pepe</h3>
                    </div>
                                    </a>
                                            <a href="meme/26" class="  stm_animation animated stm_viewport" data-animate="zoomIn" data-animation-delay="0.1" data-animation-duration="1" data-viewport_position="90">
                                    <div class="demo">
                        <div class="img">
                                                        <img src="/images/memes/0026OverlyAttachedGF.jpg" width="350" height="280" alt="Overly Attached Girlfriend" />
                        </div>
                        <h3>Overly Attached Girlfriend</h3>
                    </div>
                                    </a>
                                            <a href="/meme/8" class="  stm_animation animated stm_viewport" data-animate="zoomIn" data-animation-delay="0.1" data-animation-duration="1" data-viewport_position="90">
                                    <div class="demo">
                        <div class="img">
                                                        <img src="/images/memes/0008NyanCat.jpg" width="350" height="280" alt="Nyan Cat" />
                        </div>
                        <h3>Nyan Cat</h3>
                    </div>
                                    </a>
                                                            <a href="/market" class="  stm_animation animated stm_viewport" data-animate="zoomIn" data-animation-delay="0.1" data-animation-duration="1" data-viewport_position="90">
                                    <div class="demo">
                        <div class="img">
                                                        <img src="/images/collage.jpg" width="350" height="280" alt="ICO Landing Page (Light)" />
                        </div>
                        <h3>View All Memes</h3>
                    </div>
                                    </a>
                                        
        </div>
    </div>
</div>


    <div id="advantages" class="specials-wrap">
        <div class="specials-bg-text">HOW IT WORKS?</div>
        
        <div class="real-time-wrap">
    <div class="container">
        <div class="right">
            <div class="img  stm_animation animated stm_viewport" data-animate="slideInLeft" data-animation-delay="0.2" data-animation-duration="2" data-viewport_position="90">
                <!--<img src="img/wave.jpg" width="455" height="226" alt="Real-Time Exchange Rates" />-->
               <img src="images/Smart-contracts-royalties-ownership-and-copyright.png" 
    style="width: 90%;"/>
            </div>
        </div>
        <div class="left">
            <h2 class="left  stm_animation animated stm_viewport" data-animate="slideInUp" data-animation-delay="0.1" data-animation-duration="2" data-viewport_position="90">How it Works?</h2>
            <div class="desc  stm_animation animated stm_viewport" data-animate="slideInUp" data-animation-delay="0.2" data-animation-duration="2" data-viewport_position="90">
            </div>
            <div class="desc fs-16  stm_animation animated stm_viewport" data-animate="slideInUp" data-animation-delay="0.3" data-animation-duration="2" data-viewport_position="90">
               CryptoMemes uses the power of blockchain technology developed by Ethereum. Just like each ethereum coin, each Meme is linked to one, and only one, Smart Contract Token on the game’s blockchain.

               To purchase a Smart Contract: Send Ether to the contract using Metamask. If someone wants to buy one of your current contracts, the buyer has to pay you more than the amount of your original purchase.

               To get started, simply download the MetaMask Smart Wallet Google extension. Learn more <a href="https://metamask.io/">here.</a>
            </div>
        </div>
    </div>
</div>        <div class="container">
            <div class="live-wrap">
    <div class="container">
        <div class="right">
            <div class="img  stm_animation animated stm_viewport" data-animate="slideInRight" data-animation-delay="0.2" data-animation-duration="2" data-viewport_position="90">
                <img src="images/fuck-yeah.png" style="width:90%;"  alt="Live Exchange Rates" />
               
              
           </div>
        </div>
        <div class="right">
            <h2 class="left  stm_animation animated stm_viewport" data-animate="slideInUp" data-animation-delay="0.1" data-animation-duration="2" data-viewport_position="90">Make Profit by Trading Memes</h2>
            <div class="desc  stm_animation animated stm_viewport" data-animate="slideInUp" data-animation-delay="0.2" data-animation-duration="2" data-viewport_position="90">
                
            </div>
            <div class="desc fs-16  stm_animation animated stm_viewport" data-animate="slideInUp" data-animation-delay="0.3" data-animation-duration="2" data-viewport_position="90">
                The price of each contract increases with each transaction. When you buy a Smart Contract, watch out! Anyone can take it away from you by paying up to double what you paid.<br/>

                If you buy a contract for 0.02 ETH, another player can snatch it away from you. Once that happens, you’ll automatically receive 0.04 ETH!<br/>

                Contracts double in price with each transaction until they reach 0.05 ETH.</br/>

                Price increase:</br/>

                2x from 0 ETH to 0.05 ETH, 1.2x from 0.05 ETH to 0.5 ETH and 1.15x from 0.5 ETH up.</br/>
            </div>
        </div>
    </div>
    
</div>        </div>
       
    </div>

      </div>


<div class="arrow_top">
    <div class="arrow">
        <div class="arrow_anim"></div>
    </div>
</div>
    <div id="containerer"></div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r78/three.min.js'></script>

<script src="/js/earth-blockchain.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/scripts.js"></script>

 <% include ./partials/footer %>
 <script src="/js/connection.js"></script>
</body>
</html>