
<html lang="en">
      <% include ./partials/head %>

  <body>
    
    <% include ./partials/header %>
    <main role="main">

      
      <section id="statistics" class="user_jumbotron ">
    <div class="cover text-center container">
      <h2 class="heading">PRIVACY POLICY</h2>
                <p class="lead"></p>
                <!--p class="lead">Here's to the crazy ones. The Movers. The Shakers. The Rebels.<br/>
The round pegs in the square holes.
</p-->
      
    </div>
  </section>

</main>
<div style="padding:30px;"> 
<div style="margin:0 200 0 200">
  <div style="margin:30 0 30 0">
  <div class="desc">
               At CryptoMemes, your right to privacy is our number one priority. The following policy outlines exactly what type of information we collect when you purchase and/or own a Meme smart contract, and provides an overview as to how we utilize and protect that information.
            </div>

  </div>
  <div style="margin:30 0 30 0">
  <div class="desc">
               Throughout this policy, we will refer to Meme smart contracts and CryptoMemes as a whole as simply the “game”. By playing this game, you agree that we can collect, use, and disclose your information according to the following policy. If you’re using another site, service, or product in conjunction with the game, please understand that the following policy only pertains to the game – not your ether, MetaMask wallet, browser, or any other service, product, or software. To make sure that you’re fully aware of how your information is handled, please refer to the Privacy Policy for those products as well. We will always notify you of changes to this policy by updating the date at the top of the privacy policy page, adding a banner announcement to our site, or by emailing you when more substantial changes occur. To make sure that you’re always in agreement with this policy, please check back here from time to time to see if we’ve made any changes that you aren’t comfortable with. While we try to be diligent about providing homepage warnings and sending emails should anything that would directly affect the average user of our game be altered, every individual has different levels of comfort when it comes to their personal information.
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h4 class="text-left">What we collect</h4>
  <div class="desc">
               We log the email address you provide as well as the address for your Ethereum wallet when you create an account. Every time you log in to the game, we collect some very basic analytics, such as the type of device you’re using, what time you logged in, your IP address, the operating system of the device you’re using, and similar data. In order to record this data, third-party providers such as Facebook, Google Analytics, and similar may use cookies or pixels. This is a standard procedure with today’s technology, but you can go to your browser and remove or reject these cookies and other identifiers to avoid this; however, in some cases, this may limit the functionality of the game.
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h4 class="text-left">What we don't collect</h4>
  <div class="desc">
               When you log in to play the game, we do not collect any other personal information outside of what is outlined in this policy. The only time we would have, and record, any other personal information is if you fill out a form with the information on our site, provide written feedback with your name, or talk to us on social media sites or via email. The only payment information we retain is your Ethereum wallet address – no credit cards, bank account numbers or PayPal addresses are kept on file.
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h4 class="text-left">What we do with your information</h4>
  <div class="desc">
               Essentially, any information we collect is used to better the game for you and provide you with the best experience possible. This includes:
               <ul style="list-style-type: disc; margin:30 0 30 0">
                <li>Analyzing trends in the game so we can provide the services and functionality you want;</li>
                <li>Personalizing your experience in the game;</li>
                <li>Contacting you to send you technical notices, updates, confirmations for sales, and information regarding security issues;</li>
                <li>Sending you promotional offers;</li>
                <li>Responding to any questions, comments, or support issues.</li>
              </ul>
              In some cases, we may share the information that we track with third parties who work for us to maintain or improve the game. However, we’re picky. We only provide truly necessary information in order to provide you with the level of quality you deserve. We also use non-identifiable information for a variety of purposes related to our game, our company, and our business. But rest assured, the information we use for these purposes is completely anonymous and does not identify you in any way, shape, or form.
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h4 class="text-left">What we refuse to do with your information</h4>
  <div class="desc">
               We respect your privacy in the utmost, which is why we do not share any information that directly identifies you with any third party except in the following cases:
               <ul style="list-style-type: disc; margin:30 0 30 0">
                <li>To comply with local laws and regulations</li>
                <li>To comply with law enforcement</li>
                <li>To respond to legal claims</li>
                <li>To protect our rights to our game</li>
                <li>To enforce our Terms of Service</li>
                <li>To preserve and ensure the safety of any one person, or group of people</li>
                <li>To prevent any illegal or unethical behavior</li>
                <li>To better serve you with your consent or at your request</li>
                <li>For any other reason as outlined in this Policy</li>
              </ul>
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h4 class="text-left">How we store and process your information</h4>
  <div class="desc">
               We must follow the laws and regulations of our company’s home country. You acknowledge that, by using our game, your information may be transferred to or maintained on a system outside of your country of residence. This means that, depending on where you live, your information may be more secure or less secure than it would be if you were dealing with a company in your country. By playing our game, you agree to have your information stored and used in our country and according to our country’s laws.
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h4 class="text-left">How we keep your information secure</h4>
  <div class="desc">
               We are diligent about keeping your information secure – it is the backbone of our game. We will always, without fail, take every reasonable administrative, physical, and electronic measure to protect your personal information, both identifiable and non-identifiable, from loss, theft, misuse, unauthorized access, disclosure, alteration, or destruction. However, we are not infallible, and no information on the Internet is ever completely secure. Please know that while we do everything within our power to protect you, we cannot guarantee your absolute security.
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h4 class="text-left">How we deal with minor-age accounts</h4>
  <div class="desc">
               Any person under the age of 13 is not allowed to create an account in the game or provide us with any personal information in any form. If you are the parent or guardian of a child under the age of 13 and you believe that your child has provided us with any personal information or set up an account with us without your knowledge, please contact us at <a href="mailto:hello@cryptomemes.info">hello@cryptomemes.info</a> so we can delete the information. If you are the parent or guardian of a child under the age of 13 and you have knowingly allowed your child to set up an account, please contact us to have the account removed. In any case where we discover that there is a minor under the age of 13 using our game, we will remove that information from our files immediately.
            </div>
  </div>
  <div style="margin:30 0 30 0">
  <h4 class="text-left">Contact Us</h4>
  <div class="desc">
               Want to take control over your information, or have any questions? Contact us at <a href="mailto:hello@cryptomemes.info">hello@cryptomemes.info</a> to:
               <ul style="list-style-type: disc; margin:30 0 30 0">
                <li>See what, if any, information we have concerning you;</li>
                <li>Alter any information we currently have about you;</li>
                <li>Opt-out of receiving promotional offers;</li>
                <li>Ask questions or provide feedback on our Privacy Policy;</li>
                <li>Request that we delete any personal data we have on file. In every case possible, we will delete all information that you request us to; however, we must comply with our local laws and regulations, and in some cases these laws and regulations may prevent us from deleting absolutely everything.</li>
              </ul>
            </div>
  </div>
  
</div>
</div>
     <% include ./partials/footer %>
     <script src="/js/connection.js"></script>
  </body>
</html>
