
<html lang="en">
      <% include ./partials/head %>

  <body>
    
    <% include ./partials/header %>
    <main role="main">

      
      <section id="statistics" class="user_jumbotron " style="
    margin-top: 18px;
    margin-bottom: -41px;
    padding-bottom: 15px;">
    <div class="cover text-center container" style="    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,0);">
      <h2 class="heading " style="color: black;">Suggest a Meme</h2>
                <p class="lead"></p>
                <!--p class="lead">Here's to the crazy ones. The Movers. The Shakers. The Rebels.<br/>
The round pegs in the square holes.
</p-->
      
    </div>
  </section>

</main>
<div style="padding:30px;"> 
<div style="margin:0 200 0 200">
  <div style="margin:30 0 30 0">
  <div class="desc" style="text-align: center;">
               <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSftusu0b_86C4NgxCtdSNsCkf47iUDbqrf4qRnup_N1_Zq0NA/viewform?embedded=true" width="760" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>

  </div>
  
</div>
</div>
     <% include ./partials/footer %>
     <script src="/js/connection.js"></script>
  </body>
</html>
