@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
body {
  background: #f7f7f7;
  font-family: calibri, 'Arimo', Arial, sans-serif;
  font-weight: 400;
  /* font-size:10px; */
}

* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.intro {
  text-align: center;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, p {
  font-weight: 400;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #007bff;
  border-bottom: 16px solid #007bff;
  width: 60px;
  height: 60px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 500px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader {
  height: 500px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #6ABCEA;
}
.navbar-gradient{
  background: -webkit-linear-gradient(45deg, #ffc40c 48%, #444466 48%);
  background: -webkit-linear-gradient(left, #ffc40c 48%, #444466 48%);
  background: linear-gradient(45deg, #ffc40c 48%, #673ab7 48%);
}
.movie-card {
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
/*  max-width: 315px; */
  padding-left:0px;
  padding-right:0px;
  border-radius: 10px;
  display: inline-block;
  margin-top:20px;
}
.movie-header {
  padding: 0;
  margin: 0;
  margin-bottom:6px;
  margin-top:6px;
 /* max-height: 250px;
  max-width: 250px; */
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.meme-img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.header-icon-container {
  position: relative;
}

.header-icon {
  width: 100%;
  height: 367px;
  line-height: 367px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  color: #ffffff;
  font-size: 54px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
  opacity: .85;
}

.header-icon:hover {
  background: rgba(0, 0, 0, 0.15);
  font-size: 74px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
}

.movie-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.movie-content {
  padding: 18px 18px 0px 18px;
  margin: 0;
}

.movie-content-header, .movie-info {
  display: table;
  width: 100%;
  
}
.movie-content-header{
  padding: .75rem 1.25rem; 
  background-color: #f5f5f5; 
  border-bottom: 1px solid transparent;

}
.movie-title {
  font-size: 24px;
  margin: 0;
  display: table-cell;
}

.movie-info {
  margin-top: 1em;
}

.info-section {
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
}

.info-section:first-of-type {
  text-align: left;
}

.info-section:last-of-type {
  text-align: right;
}

.info-section label {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .5em;
  font-size: 9px;
}

.info-section span {
  font-weight: 700;
  font-size: 11px;
}
.buy-button{
    margin-left: -18px;
    margin-right: -18px;

}
.buy-buy{
  width:100%;
}
@media screen and (max-width: 500px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
    margin: 1em;
    display: block;
  }

  .container {
    padding: 0;
    margin: 0;
  }
}
  
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron,.user_jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron, .user_jumbotron {
  /*  padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);*/
  margin-top: 50px;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#footer-container-fluid
{
background-image: url("../images/");
background-color:white; 
background-attachment:scroll;
background-repeat:no-repeat;
background-position:center;
background-size:cover;
margin-left:100px;
margin-right:100px;
padding:50px;
margin-top: 40px;
}
 

#footer-container-fluid  li 
{
list-style-type:none;
color:#098c9c;
font-size:10px;
}

#footer-container-fluid ul .title
{
color:black;
font-size:15px;
}

#footer-container-fluid ul .address
 {
color:#607d8bad;
}

.photo-card {
  background-color:#2d3638;
  border-radius:10px;
  box-shadow:0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display:flex;
  flex-direction:column;
  width:100%;
  max-width:700px;
  margin-left:auto;
  margin-right:auto;
}

@media screen and (min-width: 700px) {
  .photo-card {
    flex-direction:row;
  }
}

.photo-background {
  background-position:center;
  background-size:cover;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  min-height:250px;
}

@media screen and (min-width: 700px) {
  .photo-background {
    border-top-left-radius:10px;
    border-top-right-radius:0;
    border-bottom-left-radius:10px;
    min-height:none;
    width:50%;
  }
}

.photo-details {
  padding:2.1875em 5%;
}

@media screen and (min-width: 700px) {
  .photo-details {
    width:50%;
  }
}

.photo-details h1, .photo-details h4 {
  color:#fff;
  font-weight:500;
  margin:0;
}

.photo-details h1 {
  font-size:125%;
  line-height:1;
  margin-bottom:0.35em;
}

.photo-tags ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  font-size:87.5%;
  margin-top:0.35em;
  text-transform:lowercase;
}

.photo-tags li {
  margin:0 0.35em 0.35em 0;
}

.photo-tags a {
  background-color:#191e20;
  border-radius:50px;
  color:#fff;
  display:block;
  padding:0.3125em 1.25em;
  text-decoration:none;
  transition:color 0.3s ease;
}

 .navbar {
  max-height: 50px;
}

.navbar-brand {
  padding: 0 15px;
  /*height: 80px;
  line-height: 80px;*/
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    /* padding-top: 26.5px; */
    /* padding-bottom: 26.5px; */
    /* line-height: 27px; */
  }
}

.photo-tags a:hover, .photo-tags a:focus {
  color:#e37544;
}

.photo-details p {
  color:white;
}

@font-face {
  font-family: 'museo_sans';
  src: url("../fonts/museosans.woff2") format("woff2"), url("../fonts/museosans.woff") format("woff"), url("../fonts/museosans.ttf") format("truetype"), url("../fonts/museosans.svg#museo_sans500") format("svg");
  font-weight: normal;
  font-style: normal; }

.btn-buy{
  background-color: #673ab7;
  height:50px;
  border-radius: 15px;
  border-color: #444466;
}
.btn-buy:hover{
  background-color: #ffc40c;
  height:50px;
  border-radius: 15px;
  border-color: #ffc40c;
  color: #000;
}
.navbar-brand strong{
  color:#000;
}
#statistics, .user_jumbotron{
  background-color: #ffc40c !important;
}


#statistics .cover {
  padding: 40px 0 0 0;
  padding-bottom: 40px;
  /* min-height: 270PX; */
  background-color: rgba(0, 0, 0, 0.5);
}
#statistics .cover h2 {
  color: #FFF;
  border-bottom-color: #FFF;
}

#statistics .cover .row div[class*="col-"] {
  margin: 15px 0 20px;
}

#statistics .cover .row div[class*="col-"]:last-of-type {
  margin-bottom:0
}

#statistics .cover .row div[class*="col-"] i {
  position: relative;
  font-size: 50px;
  color: #FFF;
  top: 3px;
  margin-right: 10px;
  right: 1px
}

#statistics .cover .row div[class*="col-"] h4 {
  text-transform: uppercase;
  color: #FFF;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 0
}

#statistics .cover .row div[class*="col-"] .timer {
  font-size: 45px;
  font-weight: bold;
  color: #FFF;
  font-family: sans-serif;
  margin: 0;
}

.bars {
  margin: 20px;
  width: calc(100% - 30px);
  height: 8px;
  position: relative;
  
}

.circles {
  position: relative;
  height: 120px;
  width: 120px;
  margin: 20px auto;
}

 .watch-wrap a > i {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  cursor: pointer;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  font-size: 70px;
  color: #000;
  height: 30px;
  /* width: 50px; */
  line-height: 30px;
  /* margin: auto; */
}

.watch-wrap a > i:last-of-type{
    opacity: 0;
    top: 15px;
    color: #1b0e00;
    z-index: 2;
}
.watch-wrap  a > i:hover + i{
  opacity: 1;
}
.watch-wrap  a > i:first-of-type {
  z-index: 27;
}
#statistics .lead{
  color:white;
}
.table {
  table-layout:fixed;
}

.table td {
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  word-wrap: break-word;
}

.nav-link{
    font-size: 1.12rem;;
}



footer .links {
  padding: 80px 0;
  background-color: #212121;
  color: #FFF;
}

footer .links h5 {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid #FFF;
  padding-bottom: 3px;
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold
}

footer .links p {
  color: #ccc;
}

footer .links .custom-btn {
  border: none;
  background: #FFF;
  color: #333;
  cursor: pointer;
  padding: 10px 15px;
  font-weight: 400;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

footer .links .custom-btn:hover {
  color: #FFF;
  background-color: #000;
}

footer .links a:hover,
footer .links a:focus,
footer .links a {
  color: #FFF;
  text-decoration: none;
  position: relative;
}

footer .links li:not(:first-of-type) {
  margin: 5px 0
}

footer .links a::after {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  content:"";
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

footer .links a:hover::after,
footer .links a:focus::after {
  width: 100%
}

footer .links a > i {
  position: relative;
  top: 3px;
  font-size: 20px;
  margin-left: -7px
}

.footer-gallery .row {
  margin: 0 !important
}

footer .links .footer-select > .row > div {
  margin-bottom: 30px;
}

footer .links .footer-gallery div[class*="col-"] {
  padding: 3px;
}

footer .links .footer-gallery div[class*="col-"] img {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  display: block;
  width: 100%;
  min-height: 90px;
  height: 100%;
 /* filter: grayscale(0.8);*/
}

footer .links .footer-gallery div[class*="col-"] img:hover {
  /*filter: grayscale(0);*/
}

footer .copyright {
  background-color: #000;
  color: #FFF;
  padding: 20px 0;
}

footer .copyright p {
  margin: 0;
  font-weight: 500;
}

footer .copyright p a,
footer .copyright p a:hover,
footer .copyright p a:focus {
  color: dodgerblue;
  font-weight: bold;
  text-decoration: none
}
.sort-button{
  border-color: #673ab7;
  color: #673ab7;
}

.sort-button:hover, .sort-button:focus{
  background-color: #673ab7 !important;
}

.page-link {
    color: #673ab7;

}
.page-item.active .page-link {

    z-index: 1;
    color: #fff;
    background-color: #673ab7;
    border-color: #673ab7;
}

.nav-item:hover{
  background-color: #ffc40c;
  color:#000;
  border-radius: 5px;
}
.nav-item:hover>a{
  color:#000;
}

.address-toggle, .address-toggle:hover{
  background-color: #4CAF50;
  border-radius: 68px;
  /* border: 2px; */
  /* border: 1px solid #ffc40c; */
}

.address-toggle:hover>.nickname {
  display: block;
}

.nickname{
  right: 0px;
  left: auto;
  background: transparent;
  border: 0px;
  padding-top: 2px;
}

.nickname > a{
  background-color: #ddd;
  border-radius: 5px;
  border: 2px solid #ddd;
}


.faq{
  margin-top:10px;
}



.faq  .tab-content.panels-faq {
  padding: 0;
  border: 0;
}

.faq  .panel.panel-help {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  padding-bottom: 0;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fff;
  margin: 0 0 16px;
}
  .faq  a[href^="#"],
  .faq  a[href^="#"]:hover,
  .faq  a[href^="#"]:focus {
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }
.faq   .panel-heading {
    background-color: #e6e6e6;
    padding: 0 16px;
    line-height: 48px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    color: rgba(0,0,0,.87);
  }
.faq   h2 {      
      margin: 0;
      padding: 14px 0 14px;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      text-transform: none;
    }
.faq   .panel-body {
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0;
  }
  .faq    p {
      margin: 0 0 16px;
      padding: 0 16px;
      &:last-of-type {
        margin: 0;
      }
    }
  
